---
const pageTitle = "Shroomio";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="Shroomio project website" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <main>
      <h1>{pageTitle}</h1>
      <p>The project website is under construction.</p>
    </main>
  </body>
</html>
